<div class="text-dark">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h3 class="font-weight-bold">FYP Batches</h3>
            <p class="text-muted">Home / FYP Director / FYP Batches</p>
        </div>
        <div class="card card-shadow p-4 mb-4">
            <h4 class="font-weight-bold mb-4">IMPORTANT INFORMATION!</h4>
            <p>A batch acts as a container for a list of students. When you add a new batch, make sure that all provided information is double checked.<span class="font-weight-bold text-danger"> You will not be able to remove or edit a batch, once submitted.</span></p>
            <p><span class="font-weight-bold">MGPS</span> means number of <span class="font-weight-bold">Maximum Groups Per Supervisor</span>. It is calculated based on the number of students in the batch and the number of active supervisors in the department. It is done, so as to equally distribute the workload among supervisors.</p>
        </div>
        <div class="row mb-5">
            <div class="col">
                <div class="card card-shadow p-4 flex-fill mb-4">
                    <h5 class="font-weight-bold mb-3">Number of Batches</h5>
                    <div *ngFor="let program of programs;let i = index;">
                        <p><span class="font-weight-bold">{{ program.Title }}:&nbsp;</span>{{ program.NumberOfBatches }} Batches</p>
                    </div>
                </div>
                <div class="card card-shadow p-4">
                    <h5 class="font-weight-bold mb-3">New FYP Batch</h5>
                    <form id="addBatchForm" [formGroup]="addBatchForm" (ngSubmit)="onAddBatchFormSubmit(addBatchForm.value)">
                        <select formControlName="Program" class="form-control-dropdown mb-2">
                            <option selected>Program</option>
                            <option *ngFor="let program of programs">{{ program.Title }}</option>
                        </select>
                        <select formControlName="Session" class="form-control-dropdown mb-2">
                            <option selected>Session</option>
                            <option>Fall</option>
                            <option>Spring</option>
                        </select>
                        <select formControlName="Year" class="form-control-dropdown mb-2">
                            <option selected>Year</option>
                            <option *ngFor="let year of years">{{ year }}</option>
                        </select>
                        <div class="text-danger" [ngClass]="{'d-none': validAddBatch}">Invalid input.</div>
                        <div [ngClass]="(addBatchMessage === 'Batch added successfully.')?'text-success':'text-danger'" [innerHTML]="addBatchMessage"></div>
                    </form>
                    <button form="addBatchForm" type="submit" class="btn btn-dashboard mt-2">Add</button>
                </div>
            </div>
            <div class="col-8">
                <div class="card card-shadow p-4">
                    <h5 class="font-weight-bold mb-4" [innerHTML]="batchesListText"></h5>
                    <h6 class="font-weight-bold mb-3">Filter Options</h6>
                    <form [formGroup]="batchFilterSelectForm">
                        <div class="row mb-4">
                            <div class="col">
                                <select formControlName="Program" #onProgramFilterSelect class="form-control-dropdown" (change)="onProgramFilterSelection(onProgramFilterSelect.value)">
                                    <option selected>All Programs</option>
                                    <option *ngFor="let program of programs">{{ program.Title }}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div style="height: 20em; overflow-x: hidden; overflow-y: scroll;">
                        <div class="table-responsive table-borders">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            Program&nbsp;
                                            <i class="fa fa-sort pointer" (click)="sortByProgram()"></i>
                                        </th>
                                        <th scope="col">
                                            Session&nbsp;
                                            <i class="fa fa-sort pointer" (click)="sortBySession()"></i>
                                        </th>
                                        <th scope="col">
                                            Year&nbsp;
                                            <i class="fa fa-sort pointer" (click)="sortByYear()"></i>
                                        </th>
                                        <th scope="col">MGPS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let batch of batches; let i = index;">
                                        <ng-container *ngIf="noFilterBoolean">
                                            <td>{{ batch.Program }}</td>
                                            <td>{{ batch.Session }}</td>
                                            <td>{{ batch.Year }}</td>
                                            <td>{{ batch.MaxGroups }}</td>
                                        </ng-container>
                                        <ng-container *ngIf="programFilterBoolean && batch.Program === selectedProgram">
                                            <td>{{ batch.Program }}</td>
                                            <td>{{ batch.Session }}</td>
                                            <td>{{ batch.Year }}</td>
                                            <td>{{ batch.MaxGroups }}</td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color ="#fff" type="ball-fussion" [fullScreen]="true">
        <p style="color: white">Loading...</p>
    </ngx-spinner>
</div>