<div class="text-dark">
    <div class="container">
        <h3 class="my-3">FYP Batches</h3>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newBatchModal">New</button>
        <div class="modal fade" id="newBatchModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a New FYP Batch</h5>
                    </div>
                    <div class="modal-body">
                        <form id="newBatchForm" [formGroup]="newBatchForm" (ngSubmit)="onNewBatchFormSubmit(newBatchForm.value)">
                            <select formControlName="Year" class="form-control mb-2">
                                <option selected>Batch Year</option>
                                <option *ngFor="let year of years">{{ year }}</option>
                            </select>
                            <div class="text-danger mb-2" [ngClass]="{'d-none': validYear}">Invalid Year</div>
                            <input formControlName="Program" type="text" class="form-control mb-2" placeholder="Program e.g. BSCS, BSIT">
                            <div class="text-danger mb-2" [ngClass]="{'d-none': validProgram}">Invalid Program</div>
                            <select formControlName="Phase" class="form-control mb-1">
                                <option selected>FYP Phase</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <div class="text-danger mb-2" [ngClass]="{'d-none': validPhase}">Invalid Phase</div>
                        </form>
                        <div class="text-danger mt-2" [innerHTML]="addBatchError"></div>
                    </div>
                    <div class="modal-footer">
                        <button form="newBatchForm" type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-success m-3" data-toggle="modal" data-target="#promoteBatchModal">Promote Batch</button>
        <div class="modal fade" id="promoteBatchModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Promote FYP Batch</h5>
                    </div>
                    <div class="modal-body">
                        <form id="promoteBatchForm" [formGroup]="promoteBatchForm" (ngSubmit)="onPromoteBatchFormSubmit(promoteBatchForm.value)">
                            <select formControlName="BatchID" class="form-control">
                                <option selected>Choose Batch</option>
                                <option *ngFor="let batch of batches">{{ batch.Program }}-{{ batch.Year }}</option>
                            </select>
                            <div class="text-danger mt-2" [ngClass]="{'d-none': validPromoteBatch}">Invalid Batch.</div>
                        </form>
                        <div class="text-danger mt-2" [innerHTML]="promoteBatchError"></div>
                    </div>
                    <div class="modal-footer">
                        <button form="promoteBatchForm" type="submit" class="btn btn-primary">Promote to Next Phase</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteBatchModal">Delete</button>
        <div class="modal fade" id="deleteBatchModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete FYP Batch</h5>
                    </div>
                    <div class="modal-body">
                        <form id="deleteBatchForm" [formGroup]="deleteBatchForm" (ngSubmit)="onDeleteBatchFormSubmit(deleteBatchForm.value)">
                            <input formControlName="Year" type="number" class="form-control mb-2" placeholder="Batch Year">
                            <div class="text-danger mb-2" [ngClass]="{'d-none': validDeleteBatchYear}">Batch Cannot be Empty.</div>
                            <input formControlName="Program" type="text" class="form-control" placeholder="Program e.g. BSCS, BSIT">
                            <div class="text-danger mt-2" [ngClass]="{'d-none': validDeleteBatchProgram}">Program Cannot be Empty.</div>
                        </form>
                        <div class="text-danger mt-2" [innerHTML]="deleteBatchError"></div>
                    </div>
                    <div class="modal-footer">
                        <button form="deleteBatchForm" type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="my-3">List of all FYP Batches:</h5>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Program</th>
                <th scope="col">Year</th>
                <th scope="col">Phase</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let batch of batches; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ batch.Program }}</td>
                <td>{{ batch.Year }}</td>
                <td>{{ batch.Phase }}</td>
            </tr>
        </tbody>
    </table>
</div>