<div class="text-dark">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h3>FYP Batches</h3>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addBatchModal">Add</button>
        </div>
        <div class="modal fade" id="addBatchModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a New FYP Batch</h5>
                    </div>
                    <div class="modal-body pb-2">
                        <form id="addBatchForm" [formGroup]="addBatchForm" (ngSubmit)="onAddBatchFormSubmit(addBatchForm.value)">
                            <div class="row mb-2">
                                <div class="col pr-1">
                                    <select formControlName="Session" class="form-control">
                                        <option selected>Session</option>
                                        <option>Fall</option>
                                        <option>Spring</option>
                                    </select>
                                </div>
                                <div class="col pl-1">
                                    <select formControlName="Year" class="form-control">
                                        <option selected>Year</option>
                                        <option *ngFor="let year of years">{{ year }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col pr-1">
                                    <select formControlName="Department" #departmentSelect class="form-control" (change)='onDepartmentSelected(departmentSelect.value)'>
                                        <option selected>Department</option>
                                        <option *ngFor="let department of departments" [value]="department.Name">{{ department.Name }}</option>
                                    </select>
                                </div>
                                <div class="col pl-1">
                                    <select formControlName="Program" class="form-control">
                                        <option selected>Program</option>
                                        <ng-container *ngIf="selectedDepartmentBoolean">
                                            <option *ngFor="let program of selectedDepartment.Programs">{{ program.Title }}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="text-danger" [ngClass]="{'d-none': validAddBatch}">Please select all options.</div>
                        </form>
                        <div [ngClass]="(addBatchMessage === 'Batch added successfully.')?'text-success':'text-danger'" [innerHTML]="addBatchMessage"></div>
                    </div>
                    <div class="modal-footer">
                        <button form="addBatchForm" type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="batchFilterSelectForm">
            <div class="row mb-3">
                <div class="col">
                    <select formControlName="Department" #batchFilterSelect class="form-control" (change)='onBatchFilterSelect(batchFilterSelect.value)'>
                        <option selected>Department</option>
                        <option *ngFor="let department of departments" [value]="department.Name">{{ department.Name }}</option>
                    </select>
                </div>
                <div class="col">
                    <select formControlName="Program" #batchFilterCompleteSelect class="form-control" (change)='onBatchFilterCompleteSelect(batchFilterCompleteSelect.value)'>
                        <option selected>Program</option>
                        <ng-container *ngIf="departmentFilterSelectBoolean">
                            <option *ngFor="let program of departmentFilterSelect.Programs">{{ program.Title }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </form>
        <h5 class="mb-3" [innerHTML]="currentBatchesText"></h5>
        <div style="height: 300px; overflow-x: hidden; overflow-y: scroll;">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Program</th>
                            <th scope="col">Batch ID</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Archive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let batch of batchView">
                            <td>{{ batch.Program }}</td>
                            <td>{{ batch.BatchID }}</td>
                            <td>
                                <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#editBatchModal">Edit</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#archiveBatchModal">Archive</button>
                            </td>                
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editBatchModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit FYP Batch</h5>
                </div>
                <div class="modal-body">
                    <!-- <form id="editBatchForm" [formGroup]="newBatchForm" (ngSubmit)="onNewBatchFormSubmit(newBatchForm.value)">
                        <div class="row">
                            <div class="col pr-1">
                                <select class="form-control mb-2">
                                    <option selected>Session</option>
                                    <option>Fall</option>
                                    <option>Spring</option>
                                </select>
                            </div>
                            <div class="col pl-1">
                                <select formControlName="Year" class="form-control mb-2">
                                    <option selected>Batch Year</option>
                                    <option *ngFor="let year of years">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                        <select class="form-control mb-2">
                            <option selected>Choose Program</option>
                            <option>BSCS</option>
                            <option>BSIT</option>
                        </select>
                    </form> -->
                </div>
                <div class="modal-footer">
                    <button form="deleteBatchForm" type="submit" class="btn btn-info" data-dismiss="modal">Edit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="archiveBatchModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure you want to archive this batch?</h5>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color ="#fff" type="ball-fussion" [fullScreen]="true">
        <p style="color: white">Loading...</p>
    </ngx-spinner>
</div>