<div class="container">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand navbar-brand-custom" routerLink="/">Aich<span class="color-red">Q</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-4">
                    <a class="nav-link nav-link-custom px-0 " routerLink="/">Home</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link nav-link-custom px-0" routerLink="/type">Type of User</a>
                </li>
                <li class="nav-item mr-4">
                    <a id="active" class="nav-link nav-link-custom px-0" routerLink="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-custom px-0" routerLink="/policy">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="container">
        <div class="text-center mt-4">
            <h3>The Awesome People Behind AichQ</h3>
        </div>
        <div class="p-5">
            <div class="row mb-5 grey-container p-5">
                <div class="col-12 col-md-8 d-flex">
                    <div class="justify-content-center align-self-center">
                        <h4>Tehniat Burhan</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit veritatis minus architecto ducimus? Rem dolores quae, earum aut numquam repudiandae molestiae soluta doloribus ad ipsum explicabo vero tempora similique quis. Numquam perspiciatis, placeat illum quam consectetur sapiente rem consequuntur ullam facere quisquam tempora qui deleniti. Consequuntur eos atque odit sunt?</p>  
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <img src="../../../assets/img/tehniat.png" class="img-fluid" alt="Tehniat Image">
                </div>
            </div>
            <div class="row my-5 grey-container p-5">
                <div class="col-6 col-md-4">
                    <img src="../../../assets/img/hassaan.png" class="img-fluid" alt="Hassaan Image">
                </div>
                <div class="col-12 col-md-8 d-flex">
                    <div class="justify-content-center align-self-center">
                        <h4>Muhammad Hassaan Younas</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit veritatis minus architecto ducimus? Rem dolores quae, earum aut numquam repudiandae molestiae soluta doloribus ad ipsum explicabo vero tempora similique quis. Numquam perspiciatis, placeat illum quam consectetur sapiente rem consequuntur ullam facere quisquam tempora qui deleniti. Consequuntur eos atque odit sunt?</p>  
                    </div>
                </div>
            </div>
            <div class="row grey-container p-5">
                <div class="col-12 col-md-8 d-flex">
                    <div class="justify-content-center align-self-center">
                        <h4>Imran Ihsan</h4>
                        <p>I have received the M.Sc. degree in Physics from University of the Punjab, MCS degree in Computer Science from Hamdard University, MSCS degree in Multimedia Communication from MAJU and PhD from CUST. I have over 20 years of academic (teaching, project supervision, and academic administration) and industry experience in software, web, graphics, animation, game design and development, and operational management. Currently serving as an Assistant Professor at Air University, Islamabad.</p>  
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <img src="../../../assets/img/admin-card.png" class="img-fluid" alt="Sir Imran Image">
                </div>
            </div>
        </div>
    </main>
    <footer class="text-center mt-3 pt-4 mb-4">
        <p class="font-weight-bold">Made by Tehniat and Hassaan under supervision of Sir Imran Ihsan. Copyright © 2021.</p>
    </footer>
</div>