<div class="homepage-main">
    <nav class="navbar navbar-expand-lg background-white">
        <div class="container py-2 px-5">
            <a class="navbar-brand" routerLink="/">
                <img src="../../../assets/img/logo.png" class="img-fluid pointer" width="110px" alt="AichQ Logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4">
                        <a class="nav-link nav-link-custom pointer" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link nav-link-custom pointer" routerLink="/type">Type of User</a>
                    </li>
                    <li class="nav-item">
                        <a id="active" class="nav-link nav-link-custom pointer" routerLink="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="text-center text-white mt-3">
            <h3 class="p-4">Meet the team!</h3>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div class="card mr-5" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="../../../assets/img/tehniat.jpg" class="img-fluid" alt="Tehniat Image">
                    <h4 class="card-title mt-4">Tehniat Burhan</h4>
                </div>
            </div>
            <div class="card mr-5" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="../../../assets/img/imran.jpg" class="img-fluid" alt="Imran Image">
                    <h4 class="card-title mt-4">Dr. Imran Ihsan</h4>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body text-center">
                    <img class="card-img-top" src="../../../assets/img/hassaan.jpg" class="img-fluid" alt="Hassaan Image">
                    <h4 class="card-title mt-4">Hassaan Younas</h4>
                </div>
            </div>
        </div>
    </main>
    <footer class="sticky-footer text-center border pb-2 pt-4 background-white">
        <p>FCAI, Air University, Islamabad. Copyright © 2021.</p>
    </footer>
</div>