<div class="wrapper d-flex text-black" [ngClass]="{toggled: toggle}">
    <div class="d-flex flex-column sidebar-wrapper">
        <div class="d-flex align-items-center my-3">
            <h3 class="m-auto">Dashboard</h3>
        </div>
        <div class="list-group list-group-flush pointer">
            <a [ngClass]="{'active-dashboard': currentComponent === 0, 'bg-yellow': currentComponent !== 0 }" class="list-group-item list-group-item-action sidebar-hover" (click)="changeComponent(0)">FYP Batches</a>
            <a [ngClass]="{'active-dashboard': currentComponent === 1, 'bg-yellow': currentComponent !== 1 }" class="list-group-item list-group-item-action sidebar-hover" (click)="changeComponent(1)">Supervisors</a>
            <a [ngClass]="{'active-dashboard': currentComponent === 2, 'bg-yellow': currentComponent !== 2 }" class="list-group-item list-group-item-action sidebar-hover" (click)="changeComponent(2)">Students</a>
            <a [ngClass]="{'active-dashboard': currentComponent === 3, 'bg-yellow': currentComponent !== 3 }" class="list-group-item list-group-item-action sidebar-hover" (click)="changeComponent(3)">FYP Groups</a>
            <a [ngClass]="{'active-dashboard': currentComponent === 4, 'bg-yellow': currentComponent !== 4 }" class="list-group-item list-group-item-action sidebar-hover" (click)="changeComponent(4)">Notifications</a>
            <a [ngClass]="{'active-dashboard': currentComponent === 5, 'bg-yellow': currentComponent !== 5 }" class="list-group-item list-group-item-action sidebar-hover" (click)="changeComponent(5)">Settings</a>
        </div>
        <button type="button" class="btn btn-danger mt-auto mb-2 mx-2" data-toggle="modal" data-target="#adminSignOutModal">Sign Out</button>
    </div>
    <div class="d-flex flex-column page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-yellow p-3">
            <h4 class="font-weight-normal my-auto">Aich<span class="color-red">Q</span> | Administrator</h4>
            <button (click)="openMenu()" id="menu-toggle" class="navbar-toggler" type="button" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item" [innerHTML]="greetingMessage"></li>
                </ul>
            </div>
            <div class="modal fade" id="adminSignOutModal" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="adminSignOutModalLabel">Do you want to Sign Out?</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="signOut()">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="page-content" (click)="closeMenu()">
            <app-admin-fyp-batches (updateData)='updateData($event)' *ngIf="currentComponent === 0" [departments]="departments"></app-admin-fyp-batches>
            <app-admin-supervisors (updateData)='updateData($event)' *ngIf="currentComponent === 1" [departments]="departments"></app-admin-supervisors>
            <app-admin-students *ngIf="currentComponent === 2" [departments]="departments"></app-admin-students>
            <app-admin-groups *ngIf="currentComponent === 3" [departments]="departments"></app-admin-groups>
            <app-admin-notifications *ngIf="currentComponent === 4"></app-admin-notifications>
            <app-admin-settings *ngIf="currentComponent === 5" [admin]="admin"></app-admin-settings>
        </div>
        <footer class="sticky-footer" class="py-3 bg-yellow">
            <div class="container text-center">
                <small>Made by Tehniat and Hassaan under supervision of Sir Imran Ihsan. Copyright &copy; 2020.</small>
            </div>
        </footer>
    </div>
</div>