<div class="homepage-main">
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container py-2 px-5">
            <a class="navbar-brand" routerLink="/">
                <img src="../../../assets/img/logo.png" class="img-fluid pointer" width="110px" alt="AichQ Logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4">
                        <a class="nav-link nav-link-custom pointer" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item mr-4">
                        <a id="active" class="nav-link nav-link-custom pointer" routerLink="/type">Type of User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom pointer" routerLink="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="text-center text-white mt-4">
            <h3 class="p-5">Choose your role!</h3>
        </div>
        <div class="d-flex justify-content-center">
            <div class="card p-4 mr-5">
                <div class="card-body text-center">
                    <h4 class="card-title">FYP Director</h4>
                    <button class="btn btn-card mt-3" routerLink="/admin/login">Login</button>
                </div>
            </div>
            <div class="card p-4 mr-5">
                <div class="card-body text-center">
                    <h4 class="card-title">Supervisor</h4>
                    <button class="btn btn-card mt-3" routerLink="/supervisor/login">Login</button>
                </div>
            </div>
            <div class="card p-4">
                <div class="card-body text-center">
                    <h4 class="card-title">Student</h4>
                    <button class="btn btn-card mt-3" routerLink="/student/login">Login</button>
                </div>
            </div>
        </div>
        <div class="text-center p-5">
            <button class="btn-link-custom text-white" routerLink="/super/admin/login">FCAI Admin</button>
        </div>
    </main>
    <footer class="sticky-footer text-center border pb-2 pt-4 bg-white">
        <p>FCAI, Air University, Islamabad. Copyright © 2021.</p>
    </footer>
</div>