<div class="page page-admin">
    <div class="container">
        <div class="row">
            <div class="col page-left page-admin-left">
                <img src="../../../../assets/img/admin-login.jpg" class="img-fluid" alt="Admin Login Image">
            </div>
            <div class="col page-right page-admin-right text-center d-flex align-items-center">
                <form class="w-100 px-5 mx-4" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                    <h3 class="mb-4 font-weight-normal">Administrator Login</h3>
                    <input formControlName="Username" type="text" class="form-control form-control-custom mb-4" placeholder="Username" required>
                    <input formControlName="Password" type="password" class="form-control form-control-custom mb-4" placeholder="Password" required>
                    <div class="text-danger mb-4" [ngClass]="{'d-none': validLogin}" [innerHTML]="errorMessage"></div>
                    <button class="btn btn-main mb-4" type="submit">Sign in</button>
                    <div>
                        <button class="btn-link-custom" routerLink="/type">Oops! Go Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color ="#fff" type="ball-fussion" [fullScreen]="true">
        <p class="mt-5" style="color:white;">Working on it!</p>
    </ngx-spinner>
</div>