<div class="text-dark">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h3 class="font-weight-bold">Dashboard</h3>
            <p class="text-muted">Home / FYP Director / Dashboard</p>
        </div>

        <div class="row">
            <div class="col">
                <div class="card card-shadow p-4 mb-4">
                    <h4 class="font-weight-bold mb-4" [innerHTML]="currentDepartment"></h4>
                    <table class="table-borders">
                        <tbody>
                            <tr>
                                <td *ngFor="let program of programs">{{ program.Title }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="card card-shadow p-4 mb-4">
                    <h4 class="font-weight-bold mb-4">New Announcement</h4>
                    <form id="addAnnouncementForm" [formGroup]="addAnnouncementForm" (ngSubmit)="onAddAnnouncementFormSubmit(addAnnouncementForm.value)">
                        <input formControlName="Title" type="text" class="form-control form-control-custom-sm mb-2" placeholder="Title">
                        <textarea formControlName="Body" class="form-control form-control-custom-sm px-3 py-2 mb-2" placeholder="Body" rows="2" maxlength="500"></textarea>
                        <div class="row">
                            <div class="col pr-1">
                                <select #programAddAnnouncement formControlName="Program" class="form-control-dropdown mb-2" (change)="onProgramAddAnnouncement(programAddAnnouncement.value)">
                                    <option selected>Program</option>
                                    <option *ngFor="let program of programs">{{ program.Title }}</option>
                                </select>
                            </div>
                            <div class="col pl-1">
                                <select #batchAddAnnouncement formControlName="Batch" class="form-control-dropdown mb-2">
                                    <option selected>Batch</option>
                                    <ng-container *ngIf="programAddSelectBoolean">
                                        <option *ngFor="let batch of batchesToDisplay">{{ batch.Session }}-{{ batch.Year }}</option>
                                    </ng-container>
                                </select>  
                            </div>
                        </div>
                        <div class="custom-file mb-3">
                            <input (change)="handleFileInput($event.target.files)" type="file" class="custom-file-input file-input pointer" id="customFile">
                            <label class="custom-file-label pointer" for="customFile">Upload File</label>
                        </div>
                    </form>
                    <button form="addAnnouncementForm" type="submit" class="btn btn-dashboard">Submit</button>
                </div>
            </div>
        </div>
        <div class="card card-shadow p-4 mb-5">
            <h4 class="font-weight-bold mb-4">Announcements</h4>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color ="#fff" type="ball-fussion" [fullScreen]="true">
        <p style="color: white">Loading...</p>
    </ngx-spinner>
</div>