<div class="container">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand navbar-brand-custom" routerLink="/">Aich<span class="color-red">Q</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-4">
                    <a id="active" class="nav-link nav-link-custom px-0 " routerLink="/">Home</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link nav-link-custom px-0" routerLink="/type">Type of User</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link nav-link-custom px-0" routerLink="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-custom px-0" routerLink="/policy">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="row mx-5">
            <div class="col-lg pt-4">
                <h1 class="main-title mt-5 mb-4">Aich<span class="color-red">Q</span></h1>
                <h4 class="mb-3">Project Management System for BS FYPs.</h4>
                <h5 class="mb-5">Made with <span class="color-purple"> &#x2764; </span> for Air University, Islamabad.</h5>
                <button class="btn btn-main" routerLink="/type">Get to Work!</button>
            </div>
            <div class="col-lg p-0 mt-3">
                <img src="../../../assets/img/bg-main.jpg" class="img-fluid img-hover pointer" alt="Main Background Image">
            </div>
        </div>
    </main>
    <footer class="text-center mt-5 pt-4 mb-4">
        <p class="font-weight-bold">Made by Tehniat and Hassaan under supervision of Sir Imran Ihsan. Copyright © 2021.</p>
    </footer>
</div>