<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="mt-5">Registration Successful</h1>
                <h3 class="mt-3">Awaiting Confirmation</h3>
                <div class="error-details mt-5">
                    <p>
                        An email has been sent to both students for confirmation.<br>
                        Only after confirmation from both students will you be able to login to your dashboard.
                    </p>
                </div>
                <div class="error-actions">
                    <button class="btn btn-link mt-2" routerLink="/">Back to Home</button>
                </div>
            </div>
        </div>
    </div>
</div>
