<div class="text-dark">
    <div class="container">
        <h3 class="my-3">Supervisors</h3>
        <h5 class="my-3">FYP Batch List</h5>
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    CS-2021 (Phase II)
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModal">Add</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add a New Supervisor</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Full Name</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Full Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Username</label>
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Username">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <ul class="list-group">
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                            <button class="btn btn-info">Edit</button>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                            <button class="btn btn-info">Edit</button>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                            <button class="btn btn-info">Edit</button>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                            <button class="btn btn-info">Edit</button>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    IT-2021 (Phase II)
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#example1Modal">Add</button>
                    <div class="modal fade" id="example1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add a New Supervisor</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Full Name</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Full Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Username</label>
                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Username">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <ul class="list-group">
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                            <button class="btn btn-info">Edit</button>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                            <button class="btn btn-info">Edit</button>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                            <button class="btn btn-info">Edit</button>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                            <button class="btn btn-info">Edit</button>
                        </li>
                    </ul>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    CS-2020 (Completed)
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">                
                    <ul class="list-group">
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <span class="mr-auto">Dulcie Bains</span>
                            <button class="btn btn-info mr-3">Projects</button>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
