<div class="text-dark">
    <div class="container">
        <h3 class="my-3 font-weight-bold">Settings</h3>
        <form [formGroup]="adminInfoUpdateForm" (ngSubmit)="onSubmit(adminInfoUpdateForm.value)">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Full Name</label>
                    <input formControlName="FullName" type="text" class="form-control form-control-custom" placeholder="Full Name">
                    <div class="text-danger mt-2" [ngClass]="{'d-none': validFullName}">Invalid or empty.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Username</label>
                    <input formControlName="Username" type="text" class="form-control form-control-custom" placeholder="Username">
                    <div class="text-danger mt-2" [ngClass]="{'d-none': validUsername}">Invalid or empty.</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Password</label>
                    <input formControlName="Password" type="password" class="form-control form-control-custom" placeholder="Password">
                    <div class="text-danger mt-2" [ngClass]="{'d-none': validPassword}">Cannot be empty.</div>
                </div>
            </div>
            <button type="submit" class="btn btn-dashboard">Update</button>
        </form>
    </div>
</div>
