<div class="text-dark">
    <div class="container">
        <h3 class="my-3">Settings</h3>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFullName">Full Name</label>
                    <input type="text" class="form-control" id="inputFullName" placeholder="Full Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputFullNameNew">New Full Name</label>
                    <input type="text" class="form-control" id="inputFullNameNew" placeholder="New Full Name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputUsernameNew">New Username</label>
                    <input type="text" class="form-control" id="inputUsernameNew" placeholder="New Username">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPasswordNew">New Password</label>
                    <input type="password" class="form-control" id="inputPasswordNew" placeholder="New Password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
