<div class="text-dark">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h3 class="font-weight-bold">Project Ideas</h3>
            <p class="text-muted">Home / FYP Director / Project Ideas</p>
        </div>
        <div class="card card-shadow p-4 mb-4">
            <h5 class="font-weight-bold mb-4">From Supervisors</h5>
            <h6 class="font-weight-bold mb-3">Filter Options</h6>
            <form class="mb-3" [formGroup]="ideaFilterSelectForm">
                <div class="row">
                    <div class="col">
                        <select formControlName="Program" #ideaProgramFilterSelect class="form-control-dropdown" (change)="onProgramFilterSelect(ideaProgramFilterSelect.value)">
                            <option selected>All Programs</option>
                            <option *ngFor="let program of programs">{{ program.Title }}</option>
                        </select>
                    </div>
                    <div class="col">
                        <select formControlName="Batch" #ideaBatchFilterSelect class="form-control-dropdown" (change)="onBatchFilterSelect(ideaBatchFilterSelect.value)">
                            <option selected>All Batches</option>
                            <ng-container *ngIf="programFilterSelectBoolean">
                                <option *ngFor="let batch of batchesToDisplayFilter">{{ batch.Session }}-{{ batch.Year }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
            </form>
            <div id="accordianProjects">
                <div class="accordian-card mb-3" *ngFor="let supervisor of supervisors; let i = index;">
                    <div class="accordian-card-header d-flex justify-content-between align-items-center" [attr.id]="'heading' + i">
                        <button class="btn-accordian" data-toggle="collapse" [attr.data-target]="'#collapse' + i">
                            {{ supervisor.FullName }}
                        </button>
                        <i class="fa fa-sort pointer" data-toggle="collapse" [attr.data-target]="'#collapse' + i"></i>
                    </div>
                    <div [attr.id]="'collapse' +i" class="collapse" data-parent="#accordianProjects">
                        <div class="accordian-card-body mt-3">
                            <div *ngFor="let proposal of supervisor.Proposals">
                                <div class="card p-4 mb-4">
                                    <table class="table-borders">
                                        <thead>
                                            <tr>
                                                <th scope="col">Title</th>
                                                <th scope="col">Domain</th>
                                                <th scope="col">Batch</th>
                                                <th scope="col">Approved</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <td>{{ proposal.Title }}</td>
                                            <td>{{ proposal.Domain }}</td>
                                            <td>{{ proposal.Program }}-{{ proposal.Session }}-{{ proposal.Year }}</td>
                                            <td>
                                                <div *ngIf="proposal.Approved === -1">
                                                    <i class="fa fa-minus"></i>
                                                </div>
                                                <div *ngIf="proposal.Approved === 0">
                                                    <i class="fa fa-times color-red"></i>
                                                </div>
                                                <div *ngIf="proposal.Approved === 1">
                                                    <i class="fa fa-check color-green"></i>
                                                </div>
                                            </td>
                                        </tbody>
                                    </table>
                                    <p class="mt-4 px-2 mb-2 pb-0"><span class="font-weight-bold">Abstract: </span>{{ proposal.Abstract }}</p>
                                    <div class="d-flex justify-content-center" *ngIf="proposal.Approved === -1">
                                        <button (click)="setCurrentProjectID(proposal.id)" data-toggle="modal" data-target="#approvalConfirmationModal" [attr.id]="'acceptIdeaBtn' +i" class="btn-accordian-decision btn-accordian-decision-approve mr-3">
                                            Approve&nbsp;
                                            <i class="fa fa-check color-green"></i>
                                        </button>
                                        <button (click)="setCurrentProjectID(proposal.id)" data-toggle="modal" data-target="#rejectionConfirmationModal" [attr.id]="'rejectIdeaBtn' +i" class="btn-accordian-decision btn-accordian-decision-reject ml-3">
                                            Reject&nbsp;
                                            <i class="fa fa-times color-red"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-shadow p-4 mb-5">
            <h5 class="font-weight-bold mb-4">From Students</h5>
            <h6 class="font-weight-bold mb-3">Filter Options</h6>
            <form class="mb-3" [formGroup]="ideaFilterSelectForm">
                <div class="row">
                    <div class="col">
                        <select formControlName="Program" #ideaProgramStdFilterSelect class="form-control-dropdown" (change)="onProgramFilterSelect(ideaProgramStdFilterSelect.value)">
                            <option selected>All Programs</option>
                            <option *ngFor="let program of programs">{{ program.Title }}</option>
                        </select>
                    </div>
                    <div class="col">
                        <select formControlName="Batch" #ideaBatchStdFilterSelect class="form-control-dropdown" (change)="onBatchFilterSelect(ideaBatchStdFilterSelect.value)">
                            <option selected>All Batches</option>
                            <ng-container *ngIf="programFilterSelectBoolean">
                                <option *ngFor="let batch of batchesToDisplayFilter">{{ batch.Session }}-{{ batch.Year }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="approvalConfirmationModal" role="dialog">
        <div class="modal-dialog modal-dialog-custom" role="document">
            <div class="modal-content modal-content-custom">
                <div class="modal-header modal-header-custom">
                    <h5 class="modal-title text-dark font-weight-bold">Are you sure you want to approve this project idea?</h5>
                </div>
                <div class="modal-footer modal-footer-custom no-border">
                    <button type="submit" class="btn btn-dashboard-modal" data-dismiss="modal" (click)="onSupervisorIdeaApproval()">Yes</button>
                    <button type="button" class="btn btn-dashboard-modal-dark" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rejectionConfirmationModal" role="dialog">
        <div class="modal-dialog modal-dialog-custom" role="document">
            <div class="modal-content modal-content-custom">
                <div class="modal-header modal-header-custom">
                    <h5 class="modal-title text-dark font-weight-bold">Are you sure you want to reject this project idea?</h5>
                </div>
                <div class="modal-footer modal-footer-custom no-border">
                    <button type="submit" class="btn btn-dashboard-modal" data-dismiss="modal" (click)="onSupervisorIdeaReject()">Yes</button>
                    <button type="button" class="btn btn-dashboard-modal-dark" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color ="#fff" type="ball-fussion" [fullScreen]="true">
        <p class="mt-5" style="color:white;">Working on it!</p>
    </ngx-spinner>
</div>