<div class="page page-login">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card p-5" style="width: 35rem;">
                <div class="card-body text-center">
                    <form class="w-100 p-3" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                        <h3 class="mb-4 font-weight-normal">FCAI Administrator Login</h3>
                        <input formControlName="Username" type="text" class="form-control form-control-custom mb-4" placeholder="Username" required>
                        <input formControlName="Password" type="password" class="form-control form-control-custom mb-4" placeholder="Password" required>
                        <div class="text-danger mb-4" [ngClass]="{'d-none': validLogin}" [innerHTML]="errorMessage"></div>
                        <button class="btn btn-card mb-4" type="submit">Sign in</button>
                        <div>
                            <button class="btn-link-custom" routerLink="/type">Go Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color ="#fff" type="ball-fussion" [fullScreen]="true">
        <p class="mt-5" style="color:white;">Working on it!</p>
    </ngx-spinner>
</div>