@import './app/app.component.scss';

html, body {
    font-family: 'Mukta', sans-serif;
    background-color: #ffffff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #f01313;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px darken($color: #f01313, $amount: 20);
  outline: 0 none;
}

#active {
    border-bottom: .25rem solid #f01313;
}

.pointer {
    cursor: pointer;
}

.grey-container {
    background-color: #f7f7f7;
    border-radius: 1em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}