@import './app/app.component.scss';

html, body {
    font-family: 'Mukta', sans-serif;
    background-color: #ffffff;
}

table {
    width: 100%;
    padding: 1em;
    text-align: center;
    background-color: #f7f7f7;
}

table,
th,
td {
    border: 0.15em solid #000000;
    padding: 0.5em;
}

th {
    background-color: #dddddd;
}

#active {
    border-bottom: 0.25rem solid #ee2d42;
}

.no-border {
    border: none;
}

.pointer {
    cursor: pointer;
}

.grey-container {
    background-color: #f7f7f7;
    border-radius: 1em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}

.bg-red {
    background-color: #ee2d42;
    color: #ffffff;
}

.border-top-right-round {
    border-top-right-radius: 1.3em;
}

.active-dashboard {
    background-color: darken($color: #ee2d42, $amount: 20);
    border-left: 0.4em solid #ffffff;
    color: #ffffff;
}

.black-bar {
    background-color: #000000;
    height: 0.4em;
    border-radius: 1em;
    margin-top: 3px;
}

.footer-dashboard {
    border-bottom: 0.4em solid #ee2d42;
}

option:hover {
    color: white;
    background: black;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: #ee2d42;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px darken($color: #ee2d42, $amount: 20);
    outline: 0 none;
}