<div class="text-dark">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center my-3">
            <h3 class="font-weight-bold">Students</h3>
            <p class="text-muted">Home / FYP Director / Students</p>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-shadow p-4 mb-4">
                    <h5 class="font-weight-bold mb-3">Information</h5>
                    <p><span class="font-weight-bold">BSCS:</span> 25 Students</p>
                    <p><span class="font-weight-bold">BSIT:</span> 0 Batches</p>
                </div>
            </div>
            <div class="col">
                <div class="card card-shadow p-4 mb-4">
                    <h5 class="font-weight-bold mb-3">Upload CSV File</h5>
                    <form id="addStudentBulkForm" [formGroup]="addStudentBulkForm" (ngSubmit)="onAddStudentBulkFormSubmit(addStudentBulkForm.value)">
                        <select #programAddStudentBulk formControlName="Program" class="mb-2 form-control-dropdown" (change)="onProgramAddStudentBulk(programAddStudentBulk.value)">
                            <option selected>Program</option>
                            <option *ngFor="let program of programs">{{ program.Title }}</option>
                        </select>
                        <select #batchAddStudentBulk formControlName="Batch" class=" mb-2 form-control-dropdown">
                            <option selected>Batch</option>
                            <ng-container *ngIf="programAddBulkSelectBoolean">
                                <option *ngFor="let batch of batchesToDisplayBulk">{{ batch.Session }}-{{ batch.Year }}</option>
                            </ng-container>
                        </select>
                        <div class="custom-file mb-3">
                            <input (change)="handleFileInput($event.target.files)" type="file" class="custom-file-input file-input pointer" id="customFileStudents">
                            <label class="custom-file-label pointer" for="customFileStudents" [innerHTML]="fileName"></label>
                        </div>
                        <div class="text-danger mb-2" [ngClass]="{'d-none': validAddStudentBulk}">Invalid input.</div>
                    </form>
                    <button form="addStudentBulkForm" type="submit" class="btn btn-dashboard">Upload</button>
                    <div [ngClass]="(addStudentBulkMessage === 'Students uploaded successfully.')?'text-success':'text-danger'" class="mt-2" [innerHTML]="addStudentBulkMessage"></div>
                </div>
            </div>
            <div class="col">
                <div class="card card-shadow p-4 mb-4">
                    <h5 class="font-weight-bold mb-3">Add New Student</h5>
                    <form id="addStudentForm" [formGroup]="addStudentForm" (ngSubmit)="onAddStudentFormSubmit(addStudentForm.value)">
                        <input formControlName="FullName" type="text" class="form-control form-control-custom-sm mb-2" placeholder="Full Name">
                        <input formControlName="RollNumber" type="number" class="form-control form-control-custom-sm mb-2" placeholder="Roll Number">
                        <select #programAddStudent formControlName="Program" class="form-control-dropdown mb-2" (change)="onProgramAddStudent(programAddStudent.value)">
                            <option selected>Program</option>
                            <option *ngFor="let program of programs">{{ program.Title }}</option>
                        </select>
                        <select #batchAddStudent formControlName="Batch" class="form-control-dropdown mb-2">
                            <option selected>Batch</option>
                            <ng-container *ngIf="programAddSelectBoolean">
                                <option *ngFor="let batch of batchesToDisplay">{{ batch.Session }}-{{ batch.Year }}</option>
                            </ng-container>
                        </select>
                        <div class="text-danger" [ngClass]="{'d-none': validAddStudent}">Invalid input.</div>
                    </form>
                    <div class="mb-2" [ngClass]="(addStudentMessage === 'Student added successfully.')?'text-success':'text-danger'" [innerHTML]="addStudentMessage"></div>
                    <button form="addStudentForm" type="submit" class="btn btn-dashboard">Add</button>
                </div>
            </div>
        </div>
        <div id="oddMessage" *ngIf="oddBatchesBoolean" class="card card-shadow bg-red px-4 py-3 mb-4">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="font-weight-bold mb-2">Odd Number of Students</h5>
                <i class="fa fa-times fa-lg pointer" (click)="removeOddMessage()"></i>
            </div>
            <h6>Following batches have odd number of students:</h6>
            <ul class="pb-0">
                <li *ngFor="let batch of oddBatches">{{ batch }}</li>
            </ul>
            <h6>If no more students are available in the batch, then add a student with name 'ABC XYZ' and roll number '000000' in the concerned batch. The student left at the end will have to choose this student as their partner.</h6>
        </div>
        <div class="card card-shadow p-4 mb-5">
            <h5 class="font-weight-bold mb-4">List of Students in Computer Science Department</h5>
            <h6 class="font-weight-bold mb-3">Filter Options</h6>
            <form class="mb-3" [formGroup]="studentFilterSelectForm">
                <div class="row">
                    <div class="col">
                        <select formControlName="Program" #studentsProgramFilterSelect class="form-control-dropdown" (change)="onProgramFilterSelect(studentsProgramFilterSelect.value)">
                            <option selected>All Programs</option>
                            <option *ngFor="let program of programs">{{ program.Title }}</option>
                        </select>
                    </div>
                    <div class="col">
                        <select formControlName="Batch" #studentsBatchFilterSelect class="form-control-dropdown" (change)="onBatchFilterSelect(studentsBatchFilterSelect.value)">
                            <option selected>All Batches</option>
                            <ng-container *ngIf="programFilterSelectBoolean">
                                <option *ngFor="let batch of batchesToDisplayFilter">{{ batch.Session }}-{{ batch.Year }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
            </form>
            <div style="height: 20em; overflow-x: hidden; overflow-y: scroll;">
                <div class="table-responsive table-borders">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">
                                    Name&nbsp;
                                    <i class="fa fa-sort pointer" (click)="sortByName()"></i>
                                </th>
                                <th scope="col">
                                    Roll Number&nbsp;
                                    <i class="fa fa-sort pointer" (click)="sortByRollNumber()"></i>
                                </th>
                                <th scope="col">
                                    Program&nbsp;
                                    <i class="fa fa-sort pointer" (click)="sortByProgram()"></i>
                                </th>
                                <th scope="col">Batch</th>
                                <th scope="col">
                                    FYP-Phase&nbsp;
                                    <i class="fa fa-sort pointer" (click)="sortByPhase()"></i>
                                </th>
                                <th scope="col">
                                    Group&nbsp;
                                    <i class="fa fa-sort pointer" (click)="sortByGroup()"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let student of students; let i = index;">
                                <ng-container *ngIf="noFilterBoolean">
                                    <td>{{ student.FullName }}</td>
                                    <td>{{ student.RollNumber }}</td>
                                    <td>{{ student.Program }}</td>
                                    <td>{{ student.Session }}-{{ student.Year }}</td>
                                    <td>{{ student.Phase }}</td>
                                    <td>
                                        <ng-container *ngIf="student.Group === true">
                                            <i class="fa fa-check color-green"></i>
                                        </ng-container>
                                        <ng-container *ngIf="student.Group === false">
                                            <i class="fa fa-minus color-red"></i>
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="tableProgramFilterBoolean && selectedFilterProgram === student.Program">
                                    <td>{{ student.FullName }}</td>
                                    <td>{{ student.RollNumber }}</td>
                                    <td>{{ student.Program }}</td>
                                    <td>{{ student.Session }}-{{ student.Year }}</td>
                                    <td>{{ student.Phase }}</td>
                                    <td>
                                        <ng-container *ngIf="student.Group === true">
                                            <i class="fa fa-check color-green"></i>
                                        </ng-container>
                                        <ng-container *ngIf="student.Group === false">
                                            <i class="fa fa-minus color-red"></i>
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <ng-container 
                                    *ngIf=
                                    "
                                        tableBatchFilterBoolean &&
                                        selectedFilterProgram === student.Program &&
                                        selectedFilterBatchYear === student.Year &&
                                        selectedFilterBatchSession === student.Session
                                    "
                                >
                                    <td>{{ student.FullName }}</td>
                                    <td>{{ student.RollNumber }}</td>
                                    <td>{{ student.Program }}</td>
                                    <td>{{ student.Session }}-{{ student.Year }}</td>
                                    <td>{{ student.Phase }}</td>
                                    <td>
                                    <ng-container *ngIf="student.Group === true">
                                        <i class="fa fa-check color-green"></i>
                                    </ng-container>
                                    <ng-container *ngIf="student.Group === false">
                                        <i class="fa fa-minus color-red"></i>
                                    </ng-container>
                                </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color ="#fff" type="ball-fussion" [fullScreen]="true">
            <p style="color: white">Loading...</p>
        </ngx-spinner>
    </div>
</div>