<!-- <div id="login" class="d-flex flex-column text-center">
    <h1 class="text-dark h3 mb-3 font-weight-normal">FYP Group Registration</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
        <div class="row mb-2">
            <div class="col pr-1">
                <input formControlName="StudentOneName" type="text" class="form-control" placeholder="Full Name">
                <div class="text-danger mt-1" [ngClass]="{'d-none': validStudentOneName}">Invalid full name.</div>
            </div>
            <div class="col pl-1">
                <input formControlName="StudentOneRollNumber" type="number" class="form-control" placeholder="Roll Number">
                <div class="text-danger mt-1" [ngClass]="{'d-none': validStudentOneRollNumber}">Invalid roll number.</div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col pr-1">
                <input formControlName="StudentTwoName" type="text" class="form-control" placeholder="Full Name">
                <div class="text-danger mt-1" [ngClass]="{'d-none': validStudentTwoName}">Invalid full name.</div>
            </div>
            <div class="col pl-1">
                <input formControlName="StudentTwoRollNumber" type="number" class="form-control" placeholder="Roll Number">
                <div class="text-danger mt-1" [ngClass]="{'d-none': validStudentTwoRollNumber}">Invalid roll number.</div>
            </div>
        </div>
        <select #departmentAddStudent formControlName="Department" class="form-control mb-2" (change)="onDepartmentAddStudent(departmentAddStudent.value)">
            <option selected>Department</option>
            <option *ngFor="let department of departments">{{ department.Name }}</option>
        </select>
        <div class="mb-4">
            <div class="row">
                <div class="col pr-1">
                    <select #programAddStudent formControlName="Program" class="form-control" (change)="onProgramAddStudent(programAddStudent.value)">
                        <option selected>Program</option>
                        <ng-container *ngIf="departmentAddSelectBoolean">
                            <option *ngFor="let program of departmentAddSelect.Programs">{{ program.Title }}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="col pl-1">
                    <select #batchAddStudent formControlName="Batch" class="form-control">
                        <option selected>Batch</option>
                        <ng-container *ngIf="programAddSelectBoolean">
                            <option *ngFor="let batch of programAddSelect.Batches">{{ batch.BatchID }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="text-danger mt-1" [ngClass]="{'d-none': validBatch}">Invalid batch.</div>
        </div>
        <input formControlName="Username" type="text" class="form-control mt-2" placeholder="Username">
        <div class="text-danger mt-1" [ngClass]="{'d-none': validUsername}">Invalid username.</div>
        <input formControlName="Password" type="password" class="form-control mt-2" placeholder="Password">
        <div class="text-danger mt-1" [ngClass]="{'d-none': validPassword}">Password length must be at least 8.</div>
        <div class="text-danger my-2" [ngClass]="{'d-none': !invalidRegistration}" [innerHTML]="errorMessage"></div>
        <button class="btn btn-lg btn-success mt-4" type="submit">Register</button>
    </form>
    <button class="btn btn-link mt-2" routerLink="/">Back to Home</button>
    <p class="my-3 text-muted">Copyright &copy; 2020</p>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color ="#fff" type="ball-fussion" [fullScreen]="true">
        <p style="color: white">Loading...</p>
    </ngx-spinner>
</div> -->

<div class="login-page">
    <div class="container">
        <div class="row login-container">
            <div class="col login-page-left">
                <img src="../../../../assets/img/bg-main.png" class="img-fluid" alt="Supervisor Login Image">
            </div>
            <div class="col login-page-right text-center d-flex align-items-center">
                <form class="w-100 px-5 mx-4" [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
                    <h3 class="mb-4 font-weight-normal">FYP Group Registration</h3>
                    <div class="row mb-2">
                        <div class="col pr-1">
                            <input formControlName="StudentOneName" type="text" class="form-control" placeholder="Student One Name">
                            <div class="text-danger mt-1" [ngClass]="{'d-none': validStudentOneName}">Invalid full name.</div>
                        </div>
                        <div class="col pl-1">
                            <input formControlName="StudentOneRollNumber" type="number" class="form-control" placeholder="Student One ID">
                            <div class="text-danger mt-1" [ngClass]="{'d-none': validStudentOneRollNumber}">Invalid roll number.</div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col pr-1">
                            <input formControlName="StudentTwoName" type="text" class="form-control" placeholder="Student Two Name">
                            <div class="text-danger mt-1" [ngClass]="{'d-none': validStudentTwoName}">Invalid full name.</div>
                        </div>
                        <div class="col pl-1">
                            <input formControlName="StudentTwoRollNumber" type="number" class="form-control" placeholder="Student Two ID">
                            <div class="text-danger mt-1" [ngClass]="{'d-none': validStudentTwoRollNumber}">Invalid roll number.</div>
                        </div>
                    </div>
                    <select #departmentAddStudent formControlName="Department" class="form-control mb-2" (change)="onDepartmentAddStudent(departmentAddStudent.value)">
                        <option selected>Department</option>
                        <option *ngFor="let department of departments">{{ department.Name }}</option>
                    </select>
                    <div class="mb-2">
                        <div class="row">
                            <div class="col pr-1">
                                <select #programAddStudent formControlName="Program" class="form-control" (change)="onProgramAddStudent(programAddStudent.value)">
                                    <option selected>Program</option>
                                    <ng-container *ngIf="departmentAddSelectBoolean">
                                        <option *ngFor="let program of departmentAddSelect.Programs">{{ program.Title }}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="col pl-1">
                                <select #batchAddStudent formControlName="Batch" class="form-control">
                                    <option selected>Batch</option>
                                    <ng-container *ngIf="programAddSelectBoolean">
                                        <option *ngFor="let batch of programAddSelect.Batches">{{ batch.BatchID }}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="text-danger mt-1" [ngClass]="{'d-none': validBatch}">Invalid batch.</div>
                    </div>
                    <input formControlName="Username" type="text" class="form-control mt-2" placeholder="Username">
                    <div class="text-danger mt-1" [ngClass]="{'d-none': validUsername}">Invalid username.</div>
                    <input formControlName="Password" type="password" class="form-control mt-2" placeholder="Password">
                    <div class="text-danger mt-1" [ngClass]="{'d-none': validPassword}">Password length must be at least 8.</div>
                    <div class="text-danger my-2" [ngClass]="{'d-none': !invalidRegistration}" [innerHTML]="errorMessage"></div>
                    <button class="btn btn-card mt-4 mb-3" type="submit">Register</button>
                    <div>
                        <button class="btn-link-custom" routerLink="/type">Oops! Go Back</button>
                    </div>
                </form>
                <!-- <form class="w-100 px-5 mx-4" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                    <h3 class="mb-4 font-weight-normal">Supervisor Login</h3>
                    <input formControlName="Email" type="email" class="form-control form-control-custom mb-4" placeholder="Email" required>
                    <input formControlName="Password" type="password" class="form-control form-control-custom mb-4" placeholder="Password" required>
                    <div class="text-danger mb-3" [ngClass]="{'d-none': validLogin}" [innerHTML]="errorMessage"></div>
                    <button class="btn btn-main mb-4" type="submit">Sign in</button>
                    <div>
                        <button class="btn-link-custom" routerLink="/type">Oops! Go Back</button>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color ="#fff" type="ball-fussion" [fullScreen]="true">
        <p class="mt-5" style="color:white;">Working on it!</p>
    </ngx-spinner>
</div>